
.buttonClass {
    border-color: #463f3a;
    border-radius: 10px;
    border-style: solid;
    width: fit-content;
    background-color: #f4f3ee;
    transition-duration: 0.4s;
    border-width: 1px;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
    color: #463f3a
}

.buttonClass:hover {
    background-color: #bcb8b1;
}

.buttonClass:active {
    background-color: #8a8685;
}


